*{
  font-family: helvetica;
  font-weight: lighter;
}
.amarillo{
  background-color: yellow;
  height: 50px;
  padding-top: 5px;
  padding-left: 5px;
  margin: 0;
}
.rosa{
  background-color: #d81553;
  height: 50px;
  padding-top: 5px;
  padding-left: 5px;
  margin: 0;
  border: 1.5px solid black;
}
